// pcfull

// pc.scss
@media screen and (min-width:1025px){
    
//--------------------------------------- header --------------------------------
    
.container{width: 960px; height: auto; margin: 0 auto; 
    #headerBox{width: 100%; height: 50px; padding-top: 20px; 
        >.header_wrap{width: 100%; height: 100%; 
            >.sitemap_wrap{width: 100%; height:auto; margin: 0 auto; float: right; 
                > h1{width: 95px; height: 73px; text-align: center; line-height: 5rem ; color: #ccc; float: left; margin: 0 auto; background-color: #333;}
                >.sitemap{width: 100%;height: 100%; margin: 0 auto;
                    >ul{width: 300px;height: 20px;float: right; margin-top: 20px;color: #333;
                        >li{height: 100%; float: left; border-bottom: 3px solid #333; }
                    >.site_01 {width: 42px;margin-left:36px;}
                    >.site_02 {width: 55px;margin-left:36px;}
                    >.site_03 {width: 88px;margin-left:36px;}
                    }// li
                } //.sitemap
            } // .sitemap_wrap
            >.gnb{width: 100%; height: 50px; margin: 0 auto; float: left; 
                >.gnb_box{width: 100%; height: 100%; margin-right: 10px; 
                > ul {width: 865px; height: 50px; box-sizing: border-box; margin-left: 10%; background-color: #349;
                    > li {height: 20px; float: left; margin-left: 50px;  margin-top: 18px;border-bottom: 3px solid #ccc;}
                    > .gnb_01 {width: 80px; margin-left: 70px; }
                    > .gnb_02 {width: 66px; margin-left: 70px; }
                    > .gnb_03 {width: 104px; margin-left: 70px;}
                    > .gnb_04 {width: 80px; margin-left: 70px;}
                    > .gnb_05 {width: 66px;}
                } //ul
                } // .gnb_box
            }  // .gnb
        } // .header_wrap
    }// #headBox
} // .container

//--------------------------------------- fix --------------------------------
.fix{width: 50px; height: 500px; background-color: #ccc; position: fixed; margin-top: 10%;margin-bottom: 10px; float: right; right: 0;
    >ul{
        >li{}
    }
    }  
    
//--------------------------------------- banner --------------------------------
.banner {position: relative;width: 100%;height: 50rem;padding: 0 5%;margin-top: 100px;overflow: hidden;backface-visibility: hidden;
}

.banner .background {width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: -40;transform: translate3d(0,0,0) scale(1.25);background-image: url(../../img/banner.jpg); background-size: cover;
}

.loaded .banner .background {transform: scale(1);transition: 6.5s transform;}

.banner h1 {color: #EEE; margin: 0;line-height: 40rem;text-transform: uppercase;text-shadow: 0 0 .9rem black;}

main { width: 90%;margin: 5rem auto;}

main p { margin: 0 0 3rem 0; }
    
    
//--------------------------------------- content --------------------------------
    
#content{width: 960px; height: 400px; margin: 0 auto; margin-top: 50px; 
    // 갤러리 팝업 상자
    >.popup1{width: 100%; height: 100%; background-color: rgba(#333, 0.5); position: fixed; z-index: 500; top:0; left: 0; display: none; 
        
        >.popupBox{width: 40%; height: auto; background-color: #fff; border: 3px solid #333; position: absolute; left: 30%; top:20%; border-radius: 10px; box-sizing: border-box; box-shadow: 1px 1px 1px #333;
            >img{width: 100%; height: auto;}
        } //.popupBox
        
        >.close{width: 2rem; height: 2rem; background-color: #333; color: #fff; font-weight: bold; position: absolute; right: calc(30% - 1rem); top: calc(20% - 1rem); z-index: 700; border-radius: 50%; font-size: 1.5rem; transition: all 0.5s;
            &:hover{transform: rotate(45deg);}
        }// .close
    }// .popup1
    
    //갤러리 썸네일
        >ul{width: 80%; height: 450px; margin-left: 10%; margin-top: 10px;
        &:after{content: ""; display: block; clear: both;}
        >li{width: 25%; height: 25%; background-color: #fff; float: left; border: 1px solid #333; box-sizing: border-box; 
            >a{width: 100%; height: 100%; display: block; background-color:transparenta; transition:all 0.7s;
            &:hover{background-color: #0af;}
            } // a
        } //li
    } // ul
} // #content

.popup_btn{
    >li>a{background-repeat: no-repeat; background-position: center; transition: all 0.5s; background-size: 100%; margin: 10 10 10;
        &:hover{background-size: 130%;}
    } // a
    >li:nth-child(1)>a{background-image: url("../img/1.jpg");}
    >li:nth-child(2)>a{background-image: url("../img/2.jpg");}
    >li:nth-child(3)>a{background-image: url("../img/3.jpg");}
    >li:nth-child(4)>a{background-image: url("../img/4.jpg");}
    >li:nth-child(5)>a{background-image: url("../img/5.jpg");}
    >li:nth-child(6)>a{background-image: url("../img/6.jpg");}
    >li:nth-child(7)>a{background-image: url("../img/7.jpg");}
    >li:nth-child(8)>a{background-image: url("../img/8.jpg");}
    >li:nth-child(9)>a{background-image: url("../img/9.jpg");}
    >li:nth-child(10)>a{background-image: url("../img/10.jpg");}
    >li:nth-child(11)>a{background-image: url("../img/11.jpg");}
    >li:nth-child(12)>a{background-image: url("../img/12.jpg");}
} // .popup_btn
    
//--------------------------------------- footer --------------------------------
.footer {color: #333; width: 100%;left: 0;bottom: 20px;font-size: 1rem;text-align: center;
    >p>a {color: #333;text-decoration: none;}
} // #footer
.footer>p>a:hover{background-color: #ccc;}

} // pc