@media screen and (min-width: 1025px) {
  .container {
    width: 960px;
    height: auto;
    margin: 0 auto; }
    .container #headerBox {
      width: 100%;
      height: 50px;
      padding-top: 20px; }
      .container #headerBox > .header_wrap {
        width: 100%;
        height: 100%; }
        .container #headerBox > .header_wrap > .sitemap_wrap {
          width: 100%;
          height: auto;
          margin: 0 auto;
          float: right; }
          .container #headerBox > .header_wrap > .sitemap_wrap > h1 {
            width: 10%;
            height: 73px;
            text-align: center;
            line-height: 5rem;
            color: #ccc;
            float: left;
            margin: 0 auto;
            background-color: #333; }
          .container #headerBox > .header_wrap > .sitemap_wrap > .sitemap {
            width: 100%;
            height: 100%;
            margin: 0 auto; }
            .container #headerBox > .header_wrap > .sitemap_wrap > .sitemap > ul {
              width: 300px;
              height: 20px;
              float: right;
              margin-right: 20px;
              margin-top: 20px;
              color: #333; }
              .container #headerBox > .header_wrap > .sitemap_wrap > .sitemap > ul > li {
                height: 100%;
                float: left;
                border-bottom: 3px solid #333; }
              .container #headerBox > .header_wrap > .sitemap_wrap > .sitemap > ul > .site_01 {
                width: 42px;
                margin-left: 20px; }
              .container #headerBox > .header_wrap > .sitemap_wrap > .sitemap > ul > .site_02 {
                width: 55px;
                margin-left: 20px; }
              .container #headerBox > .header_wrap > .sitemap_wrap > .sitemap > ul > .site_03 {
                width: 88px;
                margin-left: 20px; }
        .container #headerBox > .header_wrap > .gnb {
          width: 100%;
          height: 50px;
          margin: 0 auto;
          float: left; }
          .container #headerBox > .header_wrap > .gnb > .gnb_box {
            width: 100% px;
            height: 100%;
            margin-right: 10px; }
            .container #headerBox > .header_wrap > .gnb > .gnb_box > ul {
              width: 80%;
              height: 50px;
              box-sizing: border-box;
              margin-left: 10%;
              background-color: #333; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li {
                height: 20px;
                float: left;
                margin-left: 50px;
                margin-top: 18px;
                border-bottom: 3px solid #ccc; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_01 {
                width: 80px;
                margin-left: 70px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_02 {
                width: 66px;
                margin-left: 70px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_03 {
                width: 104px;
                margin-left: 70px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_04 {
                width: 80px;
                margin-left: 70px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_05 {
                width: 66px; }

  .fix {
    width: 50px;
    height: 500px;
    background-color: #ccc;
    position: fixed;
    float: right;
    margin-top: 50%; }

  #banner {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #333;
    margin-top: 100px;
    background-color: #ddd;
    position: relative;
    overflow: hidden; }
    #banner > .btn {
      width: 100%;
      height: 0;
      position: relative; }
      #banner > .btn > button {
        width: 50px;
        height: 500px;
        position: absolute;
        top: 0;
        background-color: rgba(255, 255, 255, 0.5); }
      #banner > .btn > button:hover {
        background-color: rgba(255, 255, 255, 0.8); }
      #banner > .btn > button.l_btn {
        left: 0; }
      #banner > .btn > button.r_btn {
        right: 0; }
    #banner .ban {
      width: 600%;
      height: 100%;
      margin-left: -100%; }
      #banner .ban > li {
        width: calc(100% / 6);
        height: 100%;
        float: left;
        text-align: center;
        line-height: 500px;
        font-size: 4rem; }
      #banner .ban > .box1 {
        background-color: #0cf; }
      #banner .ban > .box2 {
        background-color: #f5c; }
      #banner .ban > .box3 {
        background-color: #aac; }
      #banner .ban > .box4 {
        background-color: #ac7; }
      #banner .ban > .box5 {
        background-color: #7ac; }
    #banner .ind {
      width: 400px;
      height: 20px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -150px; }
      #banner .ind > li {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 10px;
        float: left;
        margin-left: 30px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.5s; }
        #banner .ind > li > span {
          width: 0;
          height: 0;
          display: block;
          overflow: hidden; }
      #banner .ind > li:hover {
        background-color: #515151; }
    #banner .ind > li.indWidth {
      width: 60px;
      background-color: #ccc;
      box-shadow: 2px 2px 2px #515151; }

  #content {
    width: 960px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px; }
    #content > .popup1 {
      width: 100%;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.5);
      position: fixed;
      z-index: 500;
      top: 0;
      left: 0;
      display: none; }
      #content > .popup1 > .popupBox {
        width: 40%;
        height: auto;
        background-color: #fff;
        border: 3px solid #333;
        position: absolute;
        left: 30%;
        top: 20%;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 1px 1px 1px #333; }
        #content > .popup1 > .popupBox > img {
          width: 100%;
          height: auto; }
      #content > .popup1 > .close {
        width: 2rem;
        height: 2rem;
        background-color: #333;
        color: #fff;
        font-weight: bold;
        position: absolute;
        right: calc(30% - 1rem);
        top: calc(20% - 1rem);
        z-index: 700;
        border-radius: 50%;
        font-size: 1.5rem;
        transition: all 0.5s; }
        #content > .popup1 > .close:hover {
          transform: rotate(45deg); }
    #content > ul {
      width: 80%;
      height: 450px;
      margin-left: 10%;
      margin-top: 10px; }
      #content > ul:after {
        content: "";
        display: block;
        clear: both; }
      #content > ul > li {
        width: 25%;
        height: 25%;
        background-color: #fff;
        float: left;
        border: 1px solid #333;
        box-sizing: border-box; }
        #content > ul > li > a {
          width: 100%;
          height: 100%;
          display: block;
          background-color: transparenta;
          transition: all 0.7s; }
          #content > ul > li > a:hover {
            background-color: #0af; }

  .popup_btn > li > a {
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
    background-size: 100%;
    margin-top: 10px; }
    .popup_btn > li > a:hover {
      background-size: 130%; }
  .popup_btn > li:nth-child(1) > a {
    background-image: url("../img/j01.jpg"); }
  .popup_btn > li:nth-child(2) > a {
    background-image: url("../img/j02.jpg"); }
  .popup_btn > li:nth-child(3) > a {
    background-image: url("../img/j03.jpg"); }
  .popup_btn > li:nth-child(4) > a {
    background-image: url("../img/j04.jpg"); }
  .popup_btn > li:nth-child(5) > a {
    background-image: url("../img/j05.jpg"); }
  .popup_btn > li:nth-child(6) > a {
    background-image: url("../img/j06.jpg"); }
  .popup_btn > li:nth-child(7) > a {
    background-image: url("../img/j07.jpg"); }
  .popup_btn > li:nth-child(8) > a {
    background-image: url("../img/j08.jpg"); }
  .popup_btn > li:nth-child(9) > a {
    background-image: url("../img/j09.jpg"); }
  .popup_btn > li:nth-child(10) > a {
    background-image: url("../img/j10.jpg"); }
  .popup_btn > li:nth-child(11) > a {
    background-image: url("../img/j11.jpg"); }
  .popup_btn > li:nth-child(12) > a {
    background-image: url("../img/j12.jpg"); }

  .footer {
    color: #333;
    width: 100%;
    left: 0;
    bottom: 20px;
    font-size: 1rem;
    text-align: center; }
    .footer > p > a {
      color: #333;
      text-decoration: none; }

  .footer > p > a:hover {
    background-color: #ccc; } }

/*# sourceMappingURL=pc.css.map */
