@media screen and (min-width: 1025px) {
  .container {
    width: 960px;
    height: auto;
    margin: 0 auto; }
    .container #headerBox {
      width: 100%;
      height: 50px; }
      .container #headerBox > .header_wrap {
        width: 100%;
        height: 100%; }
        .container #headerBox > .header_wrap > .sitemap_wrap {
          width: 100%;
          height: auto;
          margin: 0 auto;
          float: left; }
          .container #headerBox > .header_wrap > .sitemap_wrap > .logo {
            width: 100px;
            height: 100px;
            text-align: center;
            line-height: 5rem;
            color: #ccc;
            float: left;
            margin: 0 auto;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.4);
            position: fixed;
            z-index: 2;
            background-image: url(../../img/logo.png);
            background-repeat: no-repeat; }
            .container #headerBox > .header_wrap > .sitemap_wrap > .logo > ul {
              width: 100%;
              height: 100%;
              border-radius: 5px; }
              .container #headerBox > .header_wrap > .sitemap_wrap > .logo > ul > li {
                width: 100%;
                height: 100%;
                float: left;
                margin: 0 auto; }
                .container #headerBox > .header_wrap > .sitemap_wrap > .logo > ul > li > a {
                  width: 100%;
                  height: 100%;
                  color: #eee;
                  font-size: 3rem; }
          .container #headerBox > .header_wrap > .sitemap_wrap > .logo:hover {
            height: 140px; }
        .container #headerBox > .header_wrap > .gnb {
          width: 860px;
          height: 60px;
          margin: 0 auto;
          float: right;
          position: fixed;
          margin-left: 98px;
          z-index: 50;
          background-color: #333;
          border-radius: 5px;
          background: rgba(0, 0, 0, 0.4); }
          .container #headerBox > .header_wrap > .gnb > .gnb_box {
            width: 100%;
            height: 100%;
            float: right; }
            .container #headerBox > .header_wrap > .gnb > .gnb_box > ul {
              width: 860px;
              height: 50px;
              margin-left: 5%;
              font-size: 1rem; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li {
                height: 20px;
                float: left;
                margin-left: 60px;
                margin-top: 16px;
                border-bottom: 3px solid #eee;
                position: relative; }
                .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li > a {
                  color: #eee;
                  font-size: 1rem; }
                .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li > ul {
                  width: 860px;
                  height: 780px;
                  float: left;
                  margin: 0 auto;
                  padding: 0;
                  display: none;
                  position: absolute;
                  margin-left: -103px;
                  padding-top: 20px;
                  top: 100%;
                  left: 0;
                  background: rgba(0, 0, 0, 0.4);
                  border-radius: 5px; }
                  .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li > ul > li {
                    float: none;
                    width: 200px;
                    margin-bottom: 70px;
                    margin-top: -17px; }
                    .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li > ul > li > a {
                      line-height: 120%;
                      color: #fff;
                      font-size: 1rem;
                      margin-left: 10px; }
                  .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li > ul > div {
                    width: 100%;
                    height: 250px;
                    margin-top: -60px;
                    opacity: 0.9;
                    background-repeat: no-repeat; }
                    .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li > ul > div > .big {
                      width: 200px;
                      height: 50px;
                      font-size: 3rem; }
                    .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li > ul > div > p {
                      width: 300px;
                      height: 20px;
                      margin-top: 60px;
                      margin-left: 25%;
                      float: left; }
                    .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li > ul > div > ul {
                      width: 20%;
                      height: 50px;
                      float: left;
                      margin-top: 526px;
                      background-color: #eee;
                      margin-left: 40%; }
                      .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li > ul > div > ul > li {
                        width: 50px;
                        height: 20px;
                        margin-left: 36%;
                        margin-top: 20px;
                        font-size: 1rem; }
                        .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li > ul > div > ul > li > a {
                          color: #333; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_01 {
                width: 80px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_02 {
                width: 65px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_02 > ul {
                margin-left: -243px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_03 {
                width: 102px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_03 > ul {
                margin-left: -368px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_04 {
                width: 80px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_04 > ul {
                margin-left: -530px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_05 {
                width: 64px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_05 > ul {
                margin-left: -670px; }
              .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > .gnb_05 > ul > div {
                background-image: url(../../img/gong.jpg); }
          .container #headerBox > .header_wrap > .gnb > .gnb_box > ul > li:hover > ul {
            display: block; }

  .fix {
    width: 50px;
    height: 360px;
    position: fixed;
    margin-top: 13%;
    float: right;
    right: 0;
    border-radius: 10px;
    z-index: 10;
    margin-right: 20px; }
    .fix > ul {
      width: 100%;
      height: 100%;
      margin: 0 auto; }
      .fix > ul > li {
        width: 50px;
        height: 50px;
        float: left;
        margin-top: 10px;
        font-weight: inherit; }
        .fix > ul > li > a {
          width: 100%;
          height: 100%;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          display: block;
          border-radius: 10px;
          background: rgba(0, 0, 0, 0.4);
          background-position: center center;
          position: relative;
          background-size: 80%;
          background-repeat: no-repeat; }
        .fix > ul > li > ul {
          width: 600px;
          height: 600px;
          margin-left: -600px;
          margin-top: -50px;
          display: none;
          /*opacity:0.7;*/ }
          .fix > ul > li > ul > li {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 5px;
            background-repeat: no-repeat; }
          .fix > ul > li > ul > .call {
            width: 600px;
            height: 600px;
            background-image: url(../../img/call.jpg); }
          .fix > ul > li > ul > .map {
            width: 600px;
            height: 600px;
            background-image: url(../../img/map.jpg); }
      .fix > ul > li:hover > ul {
        display: block; }
      .fix > ul > li:nth-child(1) > a {
        background-image: url(../../img/a.png);
        margin-bottom: -150px; }
      .fix > ul > li:nth-child(2) > a {
        background-image: url(../../img/b.png);
        margin-bottom: -210px; }
      .fix > ul > li:nth-child(3) > a {
        background-image: url(../../img/c.png);
        margin-bottom: -270px; }
      .fix > ul > li:nth-child(4) > a {
        background-image: url(../../img/d.png);
        margin-bottom: -330px; }
      .fix > ul > li:nth-child(5) > a {
        background-image: url(../../img/e.png);
        margin-bottom: -390px; }
      .fix > ul > li:nth-child(1) > a:hover {
        opacity: 0.2;
        background-color: #333; }
      .fix > ul > li:nth-child(2) > a:hover {
        opacity: 0.2;
        background-color: #333; }
      .fix > ul > li:nth-child(3) > a:hover {
        opacity: 0.2;
        background-color: #333; }
      .fix > ul > li:nth-child(4) > a:hover {
        opacity: 0.2;
        background-color: #333; }
      .fix > ul > li:nth-child(5) > a:hover {
        opacity: 0.2;
        background-color: #333; }

  .banner {
    width: 100%;
    height: 81rem;
    position: relative;
    padding: 0 5%;
    overflow: hidden;
    top: -100px; }
    .banner > h1 {
      width: 600px;
      height: 600px;
      font-size: 4rem;
      color: #EEE;
      margin: 0 auto;
      line-height: 60rem;
      text-transform: uppercase;
      text-shadow: 0 0 .9rem black;
      margin-left: 170px; }
    .banner > .background {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate3d(0, 0, 0) scale(3);
      background-image: url(../../img/banner.jpg);
      background-size: cover;
      z-index: -5; }

  .loaded .banner .background {
    transform: scale(1);
    transition: 20.5s; }

  main p {
    margin: 0 0 3rem 0; }

  #content {
    width: 860px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px; }
    #content > .popup1 {
      width: 100%;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.5);
      position: fixed;
      z-index: 500;
      top: 0;
      left: 0;
      display: none; }
      #content > .popup1 > .popupBox {
        width: 60%;
        height: auto;
        background-color: #fff;
        border: 3px solid #fff;
        position: absolute;
        left: 20%;
        top: 20%;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 1px 1px 1px #333; }
        #content > .popup1 > .popupBox > img {
          width: 100%;
          height: auto; }
      #content > .popup1 > .close {
        width: 2rem;
        height: 2rem;
        background-color: #fff;
        color: #333;
        font-weight: bold;
        position: absolute;
        right: calc(20% - 1rem);
        top: calc(20% - 1rem);
        z-index: 700;
        border-radius: 50%;
        font-size: 1.5rem;
        transition: all 0.5s; }
        #content > .popup1 > .close:hover {
          transform: rotate(45deg); }
    #content > ul {
      width: 100%;
      height: 500px;
      margin-left: 10%;
      margin-top: 10px;
      margin-left: -0px;
      margin-top: -60px; }
      #content > ul:after {
        content: "";
        display: block;
        clear: both; }
      #content > ul > li {
        width: 33.3333%;
        height: 37%;
        background-color: #fff;
        float: left;
        border: 2px solid #eee;
        box-sizing: border-box;
        border-radius: 10px; }
        #content > ul > li > a {
          width: 100%;
          height: 100%;
          display: block;
          background-color: transparenta;
          transition: all 0.7s; }
          #content > ul > li > a:hover {
            background-color: #0af; }

  .popup_btn > li > a {
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
    background-size: 110%;
    margin: 10 10 10 10;
    border-radius: 10px; }
    .popup_btn > li > a:hover {
      background-size: 150%; }
  .popup_btn > li:nth-child(1) > a {
    background-image: url("../img/1.jpg"); }
  .popup_btn > li:nth-child(2) > a {
    background-image: url("../img/2.jpg"); }
  .popup_btn > li:nth-child(3) > a {
    background-image: url("../img/3.jpg"); }
  .popup_btn > li:nth-child(4) > a {
    background-image: url("../img/4.jpg"); }
  .popup_btn > li:nth-child(5) > a {
    background-image: url("../img/5.jpg"); }
  .popup_btn > li:nth-child(6) > a {
    background-image: url("../img/6.jpg"); }
  .popup_btn > li:nth-child(7) > a {
    background-image: url("../img/7.jpg"); }
  .popup_btn > li:nth-child(8) > a {
    background-image: url("../img/8.jpg"); }
  .popup_btn > li:nth-child(9) > a {
    background-image: url("../img/9.jpg"); }
  .popup_btn > li:nth-child(10) > a {
    background-image: url("../img/10.jpg"); }
  .popup_btn > li:nth-child(11) > a {
    background-image: url("../img/11.jpg"); }
  .popup_btn > li:nth-child(12) > a {
    background-image: url("../img/12.jpg"); }

  .footer {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    bottom: 1px;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    right: 0;
    left: 0;
    border-radius: 10px; }
    .footer > p > a {
      color: #fff; }

  .footer > p > a:hover {
    background-color: #ccc; }

  /* >.sitemap{width: 100%;height: 100%; margin: 0 auto;
          >ul{width: 300px;height: 20px;float: right; margin-top: 50px;
              >li{height: 100%; float: left; border-bottom: 3px solid #eee;color: #fff;}
                  >.site_01 {width: 42px;margin-left:36px;}
                  >.site_02 {width: 55px;margin-left:36px;}
                  >.site_03 {width: 88px;margin-left:36px;}
                  }// li
      } //.sitemap*/ }

/*# sourceMappingURL=pc.css.map */
