/* index.css */

#wrap{width:100%; height: auto;}
#wrap>div{margin: 0 auto;}

/*--------------- # header------------------------------------------------*/
    #wrap>#header{width: 948px;height: 74px; background-color: #fff; padding: 16px 6px 0; }
        h1{width: 98px; height: 60px; background-color: #fff;float: left;}
        h1>a{width: 100%; height: 100%; display: block; background-image: url(../images/logo.jpg); background-repeat: no-repeat; background-position: center center;}
        h1>a>span{width: 0; height: 0; display: block; overflow: hidden;}
        #sitemap{width: 226px; height: 15px; background-color: #fff; float: right; margin-bottom: 3px;}
            #sitemap>ul{width: 100%; height: 100%;}
            #sitemap>ul>li{height: 100%; float: left;}
            #sitemap>ul>.site_01{width: 38px;}
            #sitemap>ul>.site_02{width: 48px;}
            #sitemap>ul>.site_03{width: 56px;}
            #sitemap>ul>.site_04{width: 72px;}
                #sitemap>ul>.site_01>a{background-image: url(../images/sitemap_1.jpg);}
                #sitemap>ul>.site_02>a{background-image: url(../images/sitemap_2.jpg);}
                #sitemap>ul>.site_03>a{background-image: url(../images/sitemap_3.jpg);}
                #sitemap>ul>.site_04>a{background-image: url(../images/sitemap_4.jpg);}
            #sitemap>ul>li>a{background-position: center;}
        #gnb{width: 790px; height: 34px; float: right;}
        #gnb>ul{width: inherit; height: inherit;}
        #gnb>ul>li{height: inherit; margin-right: 30px; float: left;}
            .gnb_01{width: 130px;}
            .gnb_02{width: 78px;}
            .gnb_03{width: 80px;}
            .gnb_04{width: 76px;}
            .gnb_05{width: 58px;}
            .gnb_06{width: 78px;}
            #gnb>ul>.gnb_07 {width: 108px; margin-right: 0;}
            .gnb_01>a{background-image: url(../images/gnb_1.jpg);}
            .gnb_02>a{background-image: url(../images/gnb_2.jpg);}
            .gnb_03>a{background-image: url(../images/gnb_3.jpg);}
            .gnb_04>a{background-image: url(../images/gnb_4.jpg);}
            .gnb_05>a{background-image: url(../images/gnb_5.jpg);}
            .gnb_06>a{background-image: url(../images/gnb_6.jpg);}
            .gnb_07>a{background-image: url(../images/gnb_7.jpg);}
        #gnb spn{}

/*--------------- # banner------------------------------------------------*/
    #wrap>#banner{width: 100%;height: 500px; background-color: #0ac; overflow: hidden; position: relative;}
        .btn{width: 25px; height: 70px; background-color: #ccc; position: absolute; top: 50%; margin-top: -35px; z-index: 100; left:50%;}
        .btn button{width: 100%; height: 100%; background-color: transparent; cursor: pointer;}
        .btnleft{margin-left:-480px;}
        .btnright{margin-left:455px;}
        
        #banner>ul{width: 400%; margin-left:-100%; height: 100%;}
        #banner>ul>li{width: 25%; height: 100%; float: left;}
        #banner>ul .banner_01{background-image:url(../images/banner/jpg);background-repeat: no-repeat; background-position: center;}
        #banner>ul .banner_02{background-image:url(../images/banner.jpg);background-repeat: no-repeat;background-position: center;}
        #banner>ul .banner_03{background-image:url(../images/banner/jpg);}
        #banner>ul .banner_04{background-image:url(../images/banner/jpg);}
/*--------------- # article------------------------------------------------*/
    #article{width: 948px;height: 808px; padding: 0 15px; background-color: #fff;}
        #lnb{width: 100%; height: 100px; border-bottom: 1px solid #fff; margin-bottom: 28px; background-color: #fff;}
        #lnb>ul {width: 100%; height: 100%;}
        #lnb>ul>li {width: 10%; height: 100%; float: left;}
        #lnb a{background-image: url(../images/lnb.png);}
            .lnb_01>a{background-position: -5px 15PX;}
            .lnb_02>a{background-position: -110px 15PX;}
            .lnb_03>a{background-position: -215px 15PX;}
            .lnb_04>a{background-position: -319px 15PX;}
            .lnb_05>a{background-position: -424px 15PX;}
            .lnb_06>a{background-position: -529px 15PX;}
            .lnb_07>a{background-position: -634px 15PX;}
            .lnb_08>a{background-position: -739px 15PX;}
            .lnb_09>a{background-position: -843px 15PX;}
            .lnb_10>a{background-position: -948px 15PX;}

/*--------------- # content------------------------------------------------*/
    #content{width: 100%;width: 100%; height: 638px; background-image:url(../images/article.jpg); background-repeat: no-repeat;}
/*--------------- # footer------------------------------------------------*/
    #wrap>#footer{width: 100%;height: 120px; border-top: 1px solid #e8e8e8; background-color: #0ac;}
    #footerbox{width: 948px; padding: 35px 6px 30px;  height: 55px; margin: 0 auto; background-color: #ccc;}
    #footerbox>h2{width: 92px; height: 52px; float: left; background-color: #af5; background-image:url(../images/h2.jpg); background-repeat: no-repeat; background-position: center bottom;}
    #footerbox>h2>span,#mark span{width: 0; height: 0; overflow: hidden; display: block;}
        #addbox{width: 515px; height: 52px;  margin-left: 20px; float: left; background-color: #aff;}
        #mark{width: 162px; height: 90px; float: right; background-color: #0ac; margin-top: -10px;}
            #mark>ul{width: 100%; height: 100px;}
            #mark>ul>li{width: 81px; height: 100%; background-repeat: no-repeat; background-position: top center; float:left;}
                .mark_01{background-image: url(../images/mark_2.jpg);}
                .mark_02{background-image: url(../images/mark_1.jpg);}